.highlights {
  background-color: rgb(14, 14, 14);
  height: 100vh;
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.highlights-header {
  color: rgb(90, 90, 90);
  font-size: 32px;
  transform: translate(0, -50px);
  opacity: 0;
}

.highlights-btns-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.highlights-links {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transform: translate(0, 50px);
  opacity: 0;
}
